<% if (img) { %>
<a href="<%= APP_CONFIG.S3_BASE_URL %>/speech/<%= slug %>/"><img class="mug img-circle" width="150" height="150" src="<%= APP_CONFIG.S3_BASE_URL %>/assets/mugs/<%= img %>"></a>
<% } %>
<blockquote>
	<a href="<%= APP_CONFIG.S3_BASE_URL %>/speech/<%= slug %>/">
	    <p class="money-quote"><%= money_quote %></p>
    </a>
    <div class="img-source">
        <% if (img_source){ %>
            Photo: <% if (img_credit) { %><%= img_credit %>/<% } %><%= img_source %>
        <% } %>
    </div>
	<a href="<%= APP_CONFIG.S3_BASE_URL %>/speech/<%= slug %>/">
	    <cite><%= name %></cite>
	    <p class="speech-meta"><%= school %>, <%= date %></p>
    </a>
    <ul class="sharing list-unstyled">
        <li class="prompt">Share this <a href="<%= money_quote_image %>" target="_blank">quote image</a></li>
        <li>
            <a title="Share via email" href="mailto:?body=&quot;<%= money_quote %>&quot;%0A%0A&mdash; <%= name %>, <%= school %>, <%= date %>%0A%0ANPR's Best Commencement Speeches, Ever: http://apps.npr.org/speech/<%= slug %>/&subject=NPR's Best Commencement Speeches, Ever">
                <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/dialog/feed?app_id=<%= APP_CONFIG.FACEBOOK_APP_ID %>&amp;link=<%= share_url %>&amp;name=<%= share_text %>&amp;picture=<%= money_quote_image %>&amp;redirect_uri=<%= share_url %>" title="Share on Facebook" target="_blank" onclick="_gaq.push(['_trackEvent', 'Social', 'Click Facebook In Navbar', '<%= APP_CONFIG.PROJECT_NAME %>']);">
                <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        <li>
        <a href="http://twitter.com/share?text=<%= share_text %>+<%= money_quote_image %>&amp;url=<%= share_url %>" title="Share on Twitter" target="_blank" onclick="_gaq.push(['_trackEvent', 'Social', 'Click Twitter In Speech', '<%= APP_CONFIG.PROJECT_NAME %>']);">
                <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        <li>
            <a href="https://pinterest.com/pin/create/button/?url=<%= share_url %>&amp;media=<%= money_quote_image %>&amp;description=<%= share_text %>" title="Share on Pinterest" target="_blank" onclick="_gaq.push(['_trackEvent', 'Social', 'Click Pinterest In Speech', '<%= APP_CONFIG.PROJECT_NAME %>']);">
                <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
    </ul>
</blockquote>
