{% extends '_base.html' %}

{% block body_class %}homepage{% endblock body_class %}

{% block header_content %}
<header>
    <div class="container">
        <div class="row">
            <div class="header-wrapper">
                <h1>{{ COPY.content.header_title }}</h1>
                <p>{{ COPY.content.lorem_ipsum }}</p>

                <div id="story-meta">
                    <p class="byline">by <span>{{ COPY.attribution.byline }}</span></p>
                    <p class="dateblock">
                        <span class="date">{{ COPY.attribution.pubdate }}</span>
                        <span class="time"> {{ COPY.attribution.pubtime }}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<ul>
    {% for speech in speeches %}
    <li>
        <a href="/speech/{{ speech.slug }}/">
            <div class="speech-info">
                <h2 class="speech-name">{{ speech.name }}</h2>
                <p class="speech-school">{{ speech.school }}</p>
                <p class="speech-year">{{ speech.year }}</p>
            </div>
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block wide_content %}
<div class="row">
    <div class="col-md-12">
        <h2>{{ COPY.content.footer_title }}</h2>
        <p>{{ COPY.content.lorem_ipsum }}</p>
    </div>
</div>
{% endblock %}
