{% extends '_base.html' %}

{% block extra_head %}
{% include '_social_tags.html' %}
{% endblock %}

{% block body_class %}homepage{% endblock body_class %}

{% block header_content %}
<header>
    <div class="container">
        <div class="header-wrapper">
            <h2 class="npr"><a href="http://npr.org"><img src="{{ S3_BASE_URL }}/assets/npr-black.png" alt="NPR" /></a></h2>
            <h1>{{ COPY.content.title|safe|typogrify }}</h1>
            <p>{{ COPY.content.chatter }}</p>

            <div id="story-meta">
                <p class="byline">By <span>{{ COPY.attribution.byline }}</span></p>
                <p class="dateblock">
                    <span class="date">{{ COPY.attribution.pubdate }}</span>
                    <span class="time"> {{ COPY.attribution.pubtime }}</span>
                </p>
            </div>
        </div>
    </div>
    <div id="bigbox">
        {# 300x250 ad #}
        <div class="adwrapper">
            <div id="ad-desktop" class="sponsor300">
            </div>
            <p class="left">NPR thanks our sponsors</p>
            <p class="right"><a href="http://www.npr.org/about/place/corpsupport/">Become an NPR sponsor</a></p>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="big-quote">
    <div class="container">
        <div class="row">
            <div class="lead-quote-wrapper">
                <div id="lead-quote">
                    {% if featured.img %}
                    <a href="{{ S3_BASE_URL }}/speech/{{ featured.slug }}/"><img class="mug img-circle" src="{{ S3_BASE_URL }}/assets/mugs/{{ featured.img }}"></a>
                    {% endif %}
                    <blockquote>
                        <a href="{{ S3_BASE_URL }}/speech/{{ featured.slug }}/">
                            <p>{{ featured.money_quote|safe }}</p>
                            <cite>{{ featured.name }}</cite>
                        </a>
                        <ul class="sharing list-unstyled">
                            <li>
                    <!--            <a data-toggle="modal" data-target="#modal-{{ number }}" href="#">-->
                                <a title="Share via email" href="mailto:?body=&quot;{{ featured.money_quote }}&quot;%0A%0A&mdash; {{ featured.name }}, {{ featured.school }}, {{ featured.date }}%0A%0ARead more: http://apps.npr.org/speech/{{ featured.slug }}/" onclick="_gaq.push(['_trackEvent', 'Social', 'Click Email From Featured Quote', '{{ PROJECT_NAME }}']);">
                                    <span class="fa-stack">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/dialog/feed?app_id={{ FACEBOOK_APP_ID }}&amp;link={{ featured.share_url|urlencode }}&amp;name={{ featured.share_text|urlencode }}&amp;picture={{ featured.money_quote_image|urlencode }}&amp;redirect_uri={{ featured.share_url|urlencode }}" title="Share on Facebook" target="_blank" onclick="_gaq.push(['_trackEvent', 'Social', 'Click Facebook From Featured Quote', '{{ PROJECT_NAME }}']);">
                                    <span class="fa-stack">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                            <a href="http://twitter.com/share?text={{ featured.share_text|urlencode }}+{{ featured.money_quote_image|urlencode }}&amp;url={{ featured.share_url|urlencode }}" title="Share on Twitter" target="_blank" onclick="_gaq.push(['_trackEvent', 'Social', 'Click Twitter From Featured Quote', '{{ PROJECT_NAME }}']);">
                                    <span class="fa-stack">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="https://pinterest.com/pin/create/button/?url={{ featured.share_url|urlencode }}&amp;media={{ featured.money_quote_image|urlencode }}&amp;description={{ featured.share_text|urlencode }}" title="Share on Pinterest" target="_blank" onclick="_gaq.push(['_trackEvent', 'Social', 'Click Pinterest From Featured Quote', '{{ PROJECT_NAME }}']);">
                                    <span class="fa-stack">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </blockquote>
                </div>

                <a class="btn btn-warning" id="refresh-quote"><i class="fa fa-refresh"></i> Show Another Quote</a>
            </div>

        </div>
    </div>
</div>

<div class="filters container">
    <form role="form" class="row">
<!--         <div class="form-group tags">
            <label for="tags-filter" class="control-label">Find speeches</label>
            <select class="form-control" id="tags-filter">
                <option value=""></option>
                {% for tag, name in TAGS.items() %}
                <option value="{{ tag }}">{{ name }}</option>
                {% endfor %}
            </select>
        </div> -->

        <div class="form-group search">
            <label for="search" class="control-label">Search by name, school or year</label>
            <input type="text" class="form-control" id="search" placeholder="Lisa Kudrow, Vassar, 2010">
        </div>

        <div class="tags">
            <ul class="list-unstyled list-inline">
                {% for tag, name in TAGS.items() %}
                <li><a class="btn" data-tag="{{ tag }}" href="javascript:void(0)">{{ name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <p class="speech-count-container" style="display:none;">
            Showing <span class="speech-count">&nbsp;</span> of
            <span class="speech-total">&nbsp;</span> speeches. <a class="btn reset-tags" style="display: none;" href="javascript:void(0)">Reset Tags</a></p>
    </form>
</div>

<ul class="speeches">
    {% for speech in speeches %}
    <li id="{{ speech.slug }}" class="{% for tag in speech.tags %}tag-{{ tag }} {% endfor %}">
        <a href="speech/{{ speech.slug }}/">
            <div class="container">
                <div class="row">
                    <div class="speech-wrapper">
                        <div class="speech-info">
                            <h2 class="speech-name">{{ speech.name }}</h2>
                            <p class="speech-features">
                                {% if speech.video_url %}
                                <span class="fa-stack">
                                  <i class="fa fa-circle fa-stack-2x"></i>
                                  <i class="fa fa-video-camera fa-stack-1x fa-inverse"></i>
                                </span>
                                {% endif %}
                            </p>
                            <p class="speech-school">{{ speech.school }}</p>
                            <p class="speech-year">{{ speech.year }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </li>
    {% endfor %}
    <li id="no-results" style="display: none;">
        <div class="container">
            <div class="row">
                <div class="speech-wrapper">
                    <h3>No results</h3>
                </div>
            </div>
        </div>
    </li>
</ul>
{% endblock %}

{% block wide_content %}
<div class="row">
    <div class="col-md-12">
        <h2>{{ COPY.content.footer_title }}</h2>
        <p>{{ COPY.content.lorem_ipsum }}</p>
    </div>
</div>
{% endblock %}

{% block extra_foot_js %}
    {{ JS.push('js/lib/signals.js') }}
    {{ JS.push('js/lib/hasher.js') }}
    {{ JS.push('js/app.js') }}
    {{ JS.push('js/analytics.js') }}
    {{ JS.render('js/app-footer.min.js') }}
{% endblock %}

{% block extra_foot %}
<script type="text/javascript">
    var SPEECHES = {{ speeches_json|safe }};
</script>
{% endblock %}
