{% extends '_base.html' %}

{% block body_class %}speech{% endblock body_class %}

{% block extra_head %}
	<script>
		var speechSlug = '{{ speech.slug}}';
	</script>
{% endblock extra_head %}

{% block header_content %}
<header>
    <div class="container">
        <div class="row">
            <div class="header-wrapper">
                <h1><a href="{{ S3_BASE_URL }}"><h1>{{ COPY.content.header }}</h1></a></h1>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="speech-header">
			<h1>{{ speech.name }}</h1>
			<p class="speech-info">{{ speech.school }}, {{ speech.date }}</p>
		</div>

		{% if speech.youtube_id or speech.vimeo_id %}
		<div class="speech-video">
			<div class="video-wrapper">
				{% if speech.youtube_id %}
					<iframe id="player" type="text/html" width="100%" height="100%"
					  src="http://www.youtube.com/embed/{{ speech.youtube_id }}?enablejsapi=1"
					  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				{% elif speech.vimeo_id %}
					<iframe src="//player.vimeo.com/video/{{ speech.vimeo_id }}" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				{% endif %}
			</div>
		</div>
		{% endif %}
	
		<div class="speech-quotes">
			{% if speech.money_quote %}
                {% with quote=speech.money_quote, image=money_quote_image %}
                    {% include '_money_quote.html' %}
                {% endwith %}
			{% endif %}

			{% if speech.money_quote2 %}
                {% with quote=speech.money_quote2, image=money_quote2_image %}
                    {% include '_money_quote.html' %}
                {% endwith %}
			{% endif %}
		</div>
	</div>

	<ul class="external-links">
		{% if speech.full_text %}
		<li class="full-text"><a href="{{ speech.full_text }}"><span class="fa-stack fa-lg">
		  <i class="fa fa-circle fa-stack-2x"></i>
		  <i class="fa fa-align-justify fa-stack-1x fa-inverse"></i>
        </span> {{ COPY.content.full_text_link}}</a></li>
		{% elif speech.source_url %}
		<li class="full-text"><a href="{{ speech.source_url }}"><span class="fa-stack fa-lg">
		  <i class="fa fa-circle fa-stack-2x"></i>
		  <i class="fa fa-align-justify fa-stack-1x fa-inverse"></i>
        </span> {{ COPY.content.source_link}}</a></li>
		{% endif %}
		

		{% if speech.video_url and not speech.youtube_id and not speech.vimeo_id %}
		<li class="video-link"><a href="{{ speech.video_url }}"><span class="fa-stack fa-lg">
		  <i class="fa fa-circle fa-stack-2x"></i>
		  <i class="fa fa-video-camera fa-stack-1x fa-inverse"></i>
        </span> {{ COPY.content.watch_link }}</a></li>
		{% endif %}
	</ul>
</div>


{% endblock %}

{% block comments %}
<div class="comments-wrapper">
	<div class="container">
		<div class="row">
			<div id="comments"></div>
		</div>
	</div>
</div>

<div class="more-speeches">
	<div class="container">
		<div class="row">
			<h2>More Speeches</h2>
			<div class="next-speech">
				<a class="mood" href="#">See another {{ speech.mood }} speech <i class="fa fa-angle-right"></i></a>
				<a class="topic" href="#">See another speech about {{ speech.advice }} <i class="fa fa-angle-right"></i></a>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block extra_foot_js %}
    {{ JS.push('js/comments.js') }}
    {{ JS.render('js/app-footer-speech.min.js') }}
{% endblock %}

