{% extends '_base.html' %}

{% block body_class %}speech{% endblock body_class %}

{% block extra_head %}
	<script>
		var speechSlug = '{{ speech.slug}}';
	</script>
{% endblock extra_head %}

{% block header_content %}
<header>
    <div class="container">
        <div class="row">
            <div class="header-wrapper">
                <h1><a href="{{ S3_BASE_URL }}">{{ COPY.content.header_title }}</a></h1>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="speech-header">
			<h1>{{ speech.name }}</h1>
			<p class="speech-info">{{ speech.school }}, {{ speech.date }}</p>
		</div>
	
		<div class="money-quote">
			<blockquote>
				<p>{{ speech.money_quote|smartypants }}</p>
			</blockquote>
		</div>
	
		{% if speech.money_quote2 %}
		<div class="money-quote">
			<blockquote>
				<p>{{ speech.money_quote2|smartypants }}</p>
			</blockquote>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}

{% block comments %}
<div class="comments-wrapper">
	<div class="container">
		<div class="row">
			<div id="comments"></div>
		</div>
	</div>
</div>
{% endblock %}


{% block footer_js %}
{{ super() }}

{{ JS.push('js/comments.js') }}
{{ JS.render('js/app-footer-speech.min.js') }}
{% endblock footer_js %}

