{% extends '_base.html' %}

{% block body_class %}speech{% endblock body_class %}

{% block header_content %}
<header>
    <div class="container">
        <div class="row">
            <div class="header-wrapper">
                <h1><a href="{{ S3_BASE_URL }}">{{ COPY.content.header_title }}</a></h1>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="speech-header">
			<h1>{{ speech.name }}</h1>
			<p class="speech-info">{{ speech.school }} &middot; {{ speech.date }}</p>
		</div>
	
		<div class="money-quote">
			<blockquote>
				<p>{{ speech.money_quote|smartypants }}</p>
			</blockquote>
		</div>
	
		{% if speech.money_quote2 %}
		<div class="money-quote">
			<blockquote>
				<p>{{ speech.money_quote2|smartypants }}</p>
			</blockquote>
		</div>
	</div>
</div>
{% endif %}

{% endblock %}
